<form [formGroup]="travelerForm">
  <!-- Datos personales -->

  <div class="row mb-3">
    <div class="col-md-6 mb-3 mb-md-0">
      <label for="firstName" class="form-label">Nombre <span class="text-danger">*</span></label>
      <small class="text-muted d-block" *ngIf="mode === 'flight'">Indica el nombre tal y como figura en el
        pasaporte</small>

      <input type="text" class="form-control" id="firstName" formControlName="firstName"
        [ngClass]="onValidate('firstName')" (blur)="trimField('firstName')">

      <div *ngIf="shouldShowError('firstName')" class="invalid-feedback d-block">
        <div *ngIf="getFieldErrors('firstName')?.['required']">El nombre es obligatorio</div>
        <div *ngIf="getFieldErrors('firstName')?.['minlength']">
          El nombre debe tener al menos 2 caracteres
        </div>
        <div *ngIf="getFieldErrors('firstName')?.['maxlength']">
          El nombre debe tener como máximo 30 caracteres
        </div>
        <div *ngIf="getFieldErrors('firstName')?.['onlyLetters']">El nombre solo debe contener letras</div>
      </div>
    </div>


    <div class="col-md-6">
      <label for="lastName" class="form-label">Apellido <span class="text-danger">*</span></label>
      <small class="text-muted d-block" *ngIf="mode === 'flight'">Indica el apellido tal y como figura en el
        pasaporte</small>

      <input type="text" class="form-control" id="lastName" formControlName="lastName"
        [ngClass]="onValidate('lastName')" (blur)="trimField('lastName')">
      <div *ngIf="shouldShowError('lastName')" class="invalid-feedback d-block">
        <div *ngIf="getFieldErrors('lastName')?.['required']">El apellido es obligatorio</div>
        <div *ngIf="getFieldErrors('lastName')?.['minlength']">
          El apellido debe tener al menos 2 caracteres
        </div>
        <div *ngIf="getFieldErrors('lastName')?.['maxlength']">
          El apellido debe tener como máximo 30 caracteres
        </div>
        <div *ngIf="getFieldErrors('lastName')?.['onlyLetters']">El apellido solo debe contener letras</div>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="mode === 'flight'">

    <div class="col-md-6 mb-3 mb-md-0">
      <label for="gender" class="form-label">Género <span class="text-danger">*</span></label>
      <select class="form-select" id="gender" formControlName="gender">
        <option *ngFor="let option of genderOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>

    <div class="col-md-6" *ngIf="travelerForm.get('travelerType')?.value === 'INFANT'">
      <label for="birthDate" class="form-label">Fecha de nacimiento <span class="text-danger">*</span></label>
      <input 
        type="date" 
        class="form-control" 
        id="birthDate" 
        formControlName="dateOfBirth"
        [ngClass]="onValidate('dateOfBirth')"
        [min]="getDateConstraints(travelerForm.get('travelerType')?.value).min"
        [max]="getDateConstraints(travelerForm.get('travelerType')?.value).max">
      
      <div *ngIf="shouldShowError('dateOfBirth')" class="invalid-feedback d-block">
        <div *ngIf="getFieldErrors('dateOfBirth')?.['required']">La fecha de nacimiento es obligatoria para bebés</div>
      </div>
      <small class="form-text text-muted">
        <i class="bi bi-baby me-1"></i>
        El bebé debe tener menos de 2 años al finalizar el viaje
      </small>
    </div>
  </div>

  <!-- Datos de contacto para el titular en modo hotel -->
  <div *ngIf="mode === 'hotel' && isPrimaryTraveler && travelerForm.get('contact')" formGroupName="contact">
    <h6 class="mb-3">Datos de contacto</h6>

    <div class="mb-3">
      <div class="col mb-3 mb-md-0">
        <label for="emailAddress" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress"
          [ngClass]="onValidate('contact.emailAddress')" placeholder="ejemplo@correo.com" (blur)="trimField('contact.emailAddress')">
        <div *ngIf="shouldShowError('contact.emailAddress')" class="invalid-feedback d-block">
          <div *ngIf="getFieldErrors('contact.emailAddress')?.['required']">El email es obligatorio</div>
          <div *ngIf="getFieldErrors('contact.emailAddress')?.['invalidEmail']">
            El email debe contener un solo símbolo '&#64;'
          </div>
          <div *ngIf="getFieldErrors('contact.emailAddress')?.['maxlength']">
            El email debe tener como máximo 80 caracteres
          </div>
          <div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['missingAt']">
              El email debe contener el símbolo '&#64;'
            </div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['missingUsername']">
              El email debe tener un nombre de usuario antes del '&#64;'
            </div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['missingDomain']">
              El email debe tener un dominio después del '&#64;'
            </div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['missingDomainExtension']">
              El dominio del email debe contener una extensión (ej: .com, .ar)
            </div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['invalidEmailFormat']">
              El formato del email es inválido
            </div>
            <div *ngIf="getFieldErrors('contact.emailAddress')?.['invalidDomainExtension']">
              La extensión del dominio debe tener al menos 2 caracteres
            </div>
          </div>
        </div>
      </div>


      <div class="row mt-4" formArrayName="phones">
        <div formGroupName="0">
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="phoneCode" class="form-label">Código de país <span class="text-danger">*</span></label>
              <div class="input-group">
                <span class="input-group-text">📞</span>
                <select class="form-select" id="phoneCode" formControlName="countryCallingCode"
                  [ngClass]="onValidate('contact.phones.0.countryCallingCode')">
                  <option value="" disabled selected>Código</option>
                  <option *ngFor="let country of filteredCountries" [value]="country.phoneCode">
                    {{ country.name }} ({{ country.displayCode }}) </option>
                </select>
                <div *ngIf="shouldShowError('contact.phones.0.countryCallingCode')" class="invalid-feedback d-block">
                  El código de país es obligatorio
                </div>
              </div>
            </div>

            <div class="col-md-8 mb-3">
              <label for="phoneNumber" class="form-label">Número de teléfono <span class="text-danger">*</span></label>
              <input type="tel" class="form-control" id="phoneNumber" formControlName="number"
                [ngClass]="onValidate('contact.phones.0.number')" (blur)="trimField('contact.phones.0.number')">
              <div *ngIf="shouldShowError('contact.phones.0.number')" class="invalid-feedback d-block">
                <div *ngIf="getFieldErrors('contact.phones.0.number')?.['required']">
                  El número de teléfono es obligatorio
                </div>
                <div *ngIf="getFieldErrors('contact.phones.0.number')?.['invalidPhoneNumber']">
                  El número de teléfono no es válido para el país seleccionado
                </div>
                <div *ngIf="getFieldErrors('contact.phones.0.number')?.['missingCountryCode']">
                  Seleccione primero el código de país
                </div>
                <div *ngIf="getFieldErrors('contact.phones.0.number')?.['phoneValidationError']">
                  Error al validar el número de teléfono
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Documentos -->
  <div *ngIf="mode === 'flight'" formArrayName="documents" class="mt-4">
    <h6 class="mb-3">Datos del Pasaporte</h6>

    <div formGroupName="0">
      <div class="row mb-3">

        <div class="col-md-6 mb-3 mb-md-0">
          <label for="documentNumber" class="form-label">Pasaporte Nº<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="documentNumber" formControlName="number"
            [ngClass]="onValidate('documents.0.number')" (blur)="trimField('documents.0.number')">
          <div *ngIf="shouldShowError('documents.0.number')" class="invalid-feedback d-block">
            <div *ngIf="getFieldErrors('documents.0.number')?.['required']">El número de documento es obligatorio</div>
            <div *ngIf="getFieldErrors('documents.0.number')?.['minlength']">El número debe tener al menos 6 caracteres
            </div>
            <div *ngIf="getFieldErrors('documents.0.number')?.['pattern']">El número solo debe contener letras y números
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label for="nationality" class="form-label">Nacionalidad <span class="text-danger">*</span></label>
          <select class="form-select" id="nationality" formControlName="nationality"
            [ngClass]="onValidate('documents.0.nationality')">
            <option value="" disabled selected>Seleccione un país</option>
            <option *ngFor="let country of countries" [value]="country.cca2">
              {{ country.name }}
            </option>
          </select>
          <div *ngIf="shouldShowError('documents.0.nationality')" class="invalid-feedback d-block">
            La nacionalidad es obligatoria
          </div>
        </div>
      </div>

      <div class="row mb-3">

        <div class="col-md-6">
          <label for="issuanceCountry" class="form-label">País de emisión <span class="text-danger">*</span></label>
          <select class="form-select" id="issuanceCountry" formControlName="issuanceCountry"
            [ngClass]="onValidate('documents.0.issuanceCountry')">
            <option value="" disabled selected>Seleccione un país</option>
            <option *ngFor="let country of countries" [value]="country.cca2">
              {{ country.name }}
            </option>
          </select>
          <div *ngIf="shouldShowError('documents.0.issuanceCountry')" class="invalid-feedback d-block">
            El país de emisión es obligatorio
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label">Fecha de caducidad <span class="text-danger">*</span></label>
          <input type="date" class="form-control" id="expiryDate" formControlName="expiryDate"
            [ngClass]="onValidate('documents.0.expiryDate')" [min]="formatDateForInput(today)">
          <div *ngIf="shouldShowError('documents.0.expiryDate')" class="invalid-feedback d-block">
            <div *ngIf="getFieldErrors('documents.0.expiryDate')?.['required']">La fecha de caducidad es obligatoria
            </div>
            <div *ngIf="getFieldErrors('documents.0.expiryDate')?.['pastDate']">La fecha debe ser posterior a hoy</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Información de contacto (solo para el pasajero principal) -->
  <div *ngIf="mode === 'flight' && isPrimaryTraveler" formGroupName="contact" class="mt-4 mb-3">
    <h6 class="mb-3">Información de contacto</h6>

    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico <span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="email" formControlName="emailAddress" (blur)="trimField('emailAddress')"
        [ngClass]="onValidate('contact.emailAddress')">
      <div *ngIf="shouldShowError('contact.emailAddress')" class="invalid-feedback d-block">
        <div *ngIf="getFieldErrors('contact.emailAddress')?.['required']">El correo electrónico es obligatorio</div>
        <div *ngIf="getFieldErrors('contact.emailAddress')?.['email']">Ingrese un correo electrónico válido</div>
      </div>
    </div>

    <!-- Teléfono -->
    <div class="row" formArrayName="phones">
      <div formGroupName="0">
        <div class="row">

          <div class="col-md-4 mb-3">
            <label for="phoneCode" class="form-label">Código de país <span class="text-danger">*</span></label>
            <div class="input-group">
              <span class="input-group-text">📞</span>
              <select class="form-select" id="phoneCode" formControlName="countryCallingCode"
                [ngClass]="onValidate('contact.phones.0.countryCallingCode')">
                <option value="" disabled selected>Código</option>
                <option *ngFor="let country of filteredCountries" [value]="country.phoneCode">
                  {{ country.name }} ({{ country.displayCode }}) </option>
              </select>
              <div *ngIf="shouldShowError('contact.phones.0.countryCallingCode')" class="invalid-feedback d-block">
                El código de país es obligatorio
              </div>
            </div>
          </div>

          <div class="col-md-8 mb-3">
            <label for="phoneNumber" class="form-label">Número de teléfono <span class="text-danger">*</span></label>
            <input type="tel" class="form-control" id="phoneNumber" formControlName="number"
              [ngClass]="onValidate('contact.phones.0.number')" (blur)="trimField('contact.phones.0.number')">
            <div *ngIf="shouldShowError('contact.phones.0.number')" class="invalid-feedback d-block">
              <div *ngIf="getFieldErrors('contact.phones.0.number')?.['required']">
                El número de teléfono es obligatorio
              </div>
              <div *ngIf="getFieldErrors('contact.phones.0.number')?.['invalidPhoneNumber']">
                El número de teléfono no es válido para el país seleccionado
              </div>
              <div *ngIf="getFieldErrors('contact.phones.0.number')?.['missingCountryCode']">
                Seleccione primero el código de país
              </div>
              <div *ngIf="getFieldErrors('contact.phones.0.number')?.['phoneValidationError']">
                Error al validar el número de teléfono
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>