<div class="sidebar bg-primary shadow-sm" [class.menu-toggle]="isOpen">
  <nav>
    <ul>
      @for (item of menuItems; track $index) {
        <li [class.has-submenu]="hasSubItems(item)" [class.expanded]="item.isExpanded">
          @if (hasSubItems(item)) {
            <div class="menu-item" [class.selected]="item.isSelected" (click)="toggleSubMenu(item)">
              <div class="menu-header">
                <img src="../../../../assets/icons/{{ item.icon }}.png" alt="{{ item.label }}">
                <span>{{ item.label }}</span>
              </div>
              <i class="bi bi-chevron-down"></i>
            </div>
            <ul class="submenu mt-2" [class.expanded]="item.isExpanded">
              @for (subItem of item.subItems; track $index) {
                <li>
                  <a [routerLink]="subItem.route" routerLinkActive="router-link-active" (click)="selectMenuItem(item)">
                    <img *ngIf="subItem.icon" src="../../../../assets/icons/{{ subItem.icon }}.png" alt="{{ subItem.label }}">
                    <span>{{ subItem.label }}</span>
                  </a>
                </li>
              }
            </ul>
          } @else {
            <a [routerLink]="item.route" 
               [class.selected]="item.isSelected" 
               [class.search]="item.icon === 'search'"
               routerLinkActive="router-link-active"
               (click)="selectMenuItem(item)">
              <img src="../../../../assets/icons/{{ item.icon }}.png" alt="{{ item.label }}">
              <span>{{ item.label }}</span>
            </a>
          }
        </li>
      }
    </ul>
  </nav>
</div>