@import "../../../../assets/styles/variables";

:host {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Sidebar
.sidebar {
  margin-top: $navbar-height;
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0 !important;
  z-index: 100;
  padding: 1.1rem 0;
  border-right: 1px solid #22262e;
  overflow-y: auto;
  background-color: #151922;
  transition: width 0.5s ease;

  &.menu-toggle {
    width: $sidebar-expanded-width;
  }

  li {
    list-style: none;

    &.has-submenu {
      
      .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 0.7rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        color: $navbar-text-color;
        transition: $transition-normal;

        &:hover {
          background-color: $navbar-background-hover;
        }

        &.selected {
          color: $navbar-text-selected-color;
          background-color: $navbar-background-selected;
        }

        .menu-header {
          display: flex;
          align-items: center;
          gap: 1.3rem;
        }

        i {
          font-size: 0.8rem;
          transition: transform 0.3s ease;
          color: $navbar-text-color;
        }
      }

      .submenu {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        background-color: rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0; 

        li {
          margin: 0;

          a {
            padding: 0.7rem 1rem 0.7rem 1.5rem;
            margin: 0;
            font-size: 0.9rem;
            opacity: 0.9;
            border-radius: 0;
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
              width: 1.5rem;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);
            }

            &.router-link-active {
              background-color: $navbar-background-selected;
              color: $navbar-text-selected-color;
            }
          }
        }
      }

      // Cuando está expandido
      &.expanded {
        .submenu {
          max-height: 500px;
        }

        .menu-item i {
          transform: rotate(180deg);
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: $navbar-text-color;

    &:hover {
      background-color: $navbar-background-hover;
    }

    &.selected {
      color: $navbar-text-selected-color;
      background-color: $navbar-background-selected;
    }

    &.search {
      padding: 1rem 0.7rem;
      border-bottom: 1px solid $navbar-border-color;
      margin-bottom: 0.2rem;
    }
  }

  img {
    width: 1.6rem;
  }
}

@include laptop {
  .sidebar {
    width: 0;

    &.menu-toggle {
      width: 100%;
      max-width: 300px;
    }
  }
}