@import '../../../../assets/styles/variables';

.review-form-card {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 2rem;
}

.rating-input {
  display: flex;
  align-items: center;

  i {
    font-size: 2rem;
    color: $gray-300;
    cursor: pointer;
    transition: $transition-fast;
    margin-right: 0.25rem;


    &:hover {
      transform: scale(1.1);
    }
  }

  .rating-text {
    font-size: 1rem;
    color: $text-dark;
    font-weight: 500;
  }
}

textarea {
  resize: vertical;
  min-height: 150px;
}

.tips-card {
  background-color: lighten($tertiary-color, 45%);
  border-left: 4px solid $tertiary-color;
  border-radius: $border-radius;
  padding: 1.5rem;

  h5 {
    color: $text-dark;
    font-weight: 600;

    i {
      color: $tertiary-color;
    }
  }

  ul {
    margin: 0;
    padding-left: 1.5rem;

    li {
      color: $text-dark;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Responsive
@include mobile {
  .review-form-card {
    padding: 1.5rem;
  }

  .rating-input {
    flex-wrap: wrap;
    
    .rating-text {
      margin-top: 0.5rem;
      width: 100%;
    }
  }
}