@import '../../../../assets/styles/variables';

.modal {
  &.show {
    display: block;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.5;
  }
}

.alert {
  border-radius: $border-radius;
}