@import "../styles/variables";

// Estilos base para inputs
input:not([type="checkbox"]),
select,
textarea, .form-select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  transition: $transition-fast;

  &:focus {
    outline: none;
    border-color: $primary-color;
    box-shadow: 0 0 0 3px rgba($primary-color, 0.2);
  }

  &:hover {
    border-color: $primary-color;
  }
  
  &::placeholder {
    color: $gray-500;
  }

  &:disabled {
    background-color: $gray-100;
    color: $gray-600;
    cursor: not-allowed;
  }
}

// Select personalizado
select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236c757d'%3E%3Cpath d='M8 10.5l-5-5 1.5-1.5L8 7.5 11.5 4 13 5.5l-5 5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px;
  padding-right: 40px;

  option {
    background-color: white;
    color: $gray-600;
    margin-left: 0%;
    &:hover {
      border-color: $primary-color;
    }
  }
  
}

// Inputs con iconos
.input-with-icon {
  position: relative;

  input,
  select,
  textarea {
    padding-left: 42px;
  }

  .form-control,
  .form-select {
    padding-left: 40px;
    
    // Ajustar padding cuando hay botón de toggle
    &[type="password"],
    &[type="text"] {
      &:not(:only-child) {
        padding-right: 45px;
      }
    }
  }

  i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: $gray-600;
    font-size: 16px;
    pointer-events: none;
    transition: $transition-fast;
  }

  input:focus + i,
  select:focus + i,
  textarea:focus + i {
    color: $primary-color;
  }

  .form-control:focus + i,
  .form-select:focus + i {
    color: $primary-color;
  }

   .spinner-border-sm {
    width: 1rem;
    height: 1rem;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
  }
}


// Input tipo fecha
.date-input input {
  cursor: pointer;
}

// Estilo para el campo cuando es inválido y fue tocado
.ng-invalid.ng-touched:not(form) {
  border-color: $tertiary-color;

  &:focus {
    box-shadow: 0 0 0 3px rgba($tertiary-color, 0.2);
  }
}

.is-invalid {
  border-color: $tertiary-color;
  
  &:focus {
    box-shadow: 0 0 0 3px rgba($tertiary-color, 0.2) !important;
  }
}
// Mensaje de error para campos inválidos
.error-message {
  color: $tertiary-color;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0.25rem;
  display: block;
  visibility: hidden;
}

.error-message.visible {
  visibility: visible;
}

// Password strength indicator styles
.password-strength-meter {
  margin-top: 0.5rem;

  .progress {
    height: 4px;
    background-color: $gray-200;
    border-radius: $border-radius-sm;
    margin-bottom: 0.25rem;
  }
}
