// Variabes permiten gardar valores que se pueden reutilizar en todo el proyecto
// son las que empiezan con $
// Colors
$background-color: #212529;
$text-title-color:#f8f9fa;
$text-color:  #bfc9d4;
$icon-color: #ced4da;
$icon-menu-color: #f8f9fa;
$menu-color: #adb5bd;

$text-selected-color: #ffffff;
$background-selected: #1673cf;
$background-hover: rgba(255, 255, 255, 0.05);

$border-color: #495057;

// Font
$font-family: 'Nunito Sans', sans-serif;

// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;

// Sidebar
$sidebar-width: 4rem;
$sidebar-expanded-width: 18.75rem;

// Navbar
$navbar-height: 5rem;

// Los mixins te permiten agrupar estilos CSS que se pueden reutilizar en todo el proyecto
// se invocan con @include y se definen con @mixin
// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}