@import "../../../../../assets/styles/variables";

.booking-reference {
  white-space: nowrap;
  min-width: 150px;
}

// Estilos para columnas ordenables
.sortable {
  user-select: none;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  i {
    font-size: 0.875rem;
    opacity: 0.6;
    transition: opacity 0.2s;
  }

  &:hover i {
    opacity: 1;
  }
}
